@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-roman.eot");
  src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.svg") format("svg"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-bold.eot");
  src: url("../fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold.svg") format("svg"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-light.eot");
  src: url("../fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light.svg") format("svg"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-medium.eot");
  src: url("../fonts/helveticaneuecyr-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.svg") format("svg"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-thin.eot");
  src: url("../fonts/helveticaneuecyr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin.svg") format("svg"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-italic.eot");
  src: url("../fonts/helveticaneuecyr-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-italic.svg") format("svg"), url("../fonts/helveticaneuecyr-italic.woff") format("woff"), url("../fonts/helveticaneuecyr-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  position: absolute;
  width: 100%;
  height: 120px;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  text-align: justify;
}
header a {
  display: inline-block;
  text-decoration: none;
}
header a.mobile-nav {
  display: none;
}
header a.tel {
  float: right;
  padding: 45px 0;
  color: #333333;
  font-size: 26px;
  text-transform: uppercase;
}
header a.logo {
  padding: 40px 0;
}

.slide {
  position: relative;
  width: 100%;
  top: 122px !important;
}
.slide.first {
  background: url("../img/slide1-1.jpg") no-repeat left top;
  background-size: cover;
}
.slide.second {
  background: url("../img/slide1-4.jpg") no-repeat left top;
  background-size: cover;
}
.slide.third {
  background: url("../img/slide1-5.jpg") no-repeat left top;
  background-size: cover;
}
.slide .intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  background: url("../img/shadow-lines.png") repeat left top;
  vertical-align: middle;
}
.slide .info {
  position: relative;
  text-align: center;
  z-index: 99;
  margin-top: -120px;
}
.slide p {
  font-size: 36px;
  line-height: 1.4;
  color: white;
}
.slide p span {
  font-size: 24px;
  display: block;
  font-weight: 200;
  margin-top: 20px;
}

.fp-controlArrow {
  border: 0 !important;
  border-style: none !important;
  width: 30px !important;
  height: 65px !important;
  top: 55% !important;
  margin-top: 0 !important;
}
.fp-controlArrow.fp-prev {
  left: 50px !important;
  margin-left: 0;
  background: url("../img/slider-arrows.png") left top;
  -webkit-transition: margin-left .5s;
  -moz-transition: margin-left .5s;
  transition: margin-left .5s;
}
.fp-controlArrow.fp-prev:hover {
  margin-left: -5px;
  -webkit-ransition: margin-left .5s;
  -moz-ransition: margin-left .5s;
  transition: margin-left .5s;
}
.fp-controlArrow.fp-next {
  right: 50px !important;
  margin-right: 0;
  background: url("../img/slider-arrows.png") right top;
  -webkit-transition: margin-right .5s;
  -moz-transition: margin-right .5s;
  transition: margin-right .5s;
}
.fp-controlArrow.fp-next:hover {
  margin-right: -5px;
  -webkit-transition: margin-right .5s;
  -moz-transition: margin-right .5s;
  transition: margin-right .5s;
}

#fp-nav ul li a span {
  background: white !important;
  border-color: transparent !important;
}
#fp-nav ul li a.active span {
  border-color: white !important;
  background: transparent !important;
  box-shadow: 0 0 0 1px white;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding: 20px 30px;
  font-weight: bold;
  text-decoration: none;
}
.btn.blue {
  color: #fff;
  background: #122f5b;
  border-color: #122f5b;
}
.btn.blue:hover {
  background: #1a4586;
}
.btn.white {
  background: transparent;
  color: white;
  border: 2px solid white;
}
.btn.white:hover {
  background: yellow;
  border-color: yellow;
  color: black;
}

.section[data-anchor='two'] .fp-tableCell {
  vertical-align: top !important;
}

.content {
  padding: 120px 30px 0 30px;
  height: 200%;
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  -webkit-transition: padding-top 1s;
  -moz-transition: padding-top 1s;
  transition: padding-top 1s;
}
.content.one {
  background: url("../img/content1.jpg") no-repeat center center;
  background-size: auto 100%;
  -webkit-transition: background-size padding-top 1s;
  -moz-transition: background-size padding-top 1s;
  transition: background-size padding-top 1s;
}
.content.one:hover {
  background-size: auto 110%;
  -webkit-transition: background-size padding-top 1s;
  -moz-transition: background-size padding-top 1s;
  transition: background-size padding-top 1s;
}
.content.two {
  background: url("../img/content2.jpg") no-repeat center center;
  background-size: auto 100%;
  -webkit-transition: background-size padding-top1s;
  -moz-transition: background-size padding-top1s;
  transition: background-size padding-top1s;
}
.content.two:hover {
  background-size: auto 110%;
  -webkit-transition: background-size padding-top1s;
  -moz-transition: background-size padding-top1s;
  transition: background-size padding-top 1s;
}
.content.three {
  background: url("../img/content3.jpg") no-repeat center center;
  background-size: auto 100%;
  -webkit-transition: background-size padding-top 1s;
  -moz-transition: background-size padding-top 1s;
  transition: background-size padding-top 1s;
}
.content.three:hover {
  background-size: auto 110%;
  -webkit-transition: background-size padding-top 1s;
  -moz-transition: background-size padding-top 1s;
  transition: background-size padding-top 1s;
}
.content.four {
  background: url("../img/content4.jpg") no-repeat center center;
  background-size: auto 100%;
  -webkit-transition: background-size padding-top 1s;
  -moz-transition: background-size padding-top 1s;
  transition: background-size padding-top 1s;
}
.content.four:hover {
  background-size: auto 110%;
  -webkit-transition: background-size padding-top 1s;
  -moz-transition: background-size padding-top 1s;
  transition: background-size padding-top 1s;
}
.content .invis {
  position: relative;
  opacity: 0;
  display: none;
}
.content .shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.content:hover {
  padding-top: 30px;
}
.content:hover .invis {
  opacity: 1;
  display: block;
}
.content:hover .shadow {
  background: rgba(18, 47, 91, 0.8);
}
.content img {
  margin-bottom: 20px;
}
.content h3 {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
}
.content h3.hovered {
  display: none;
}
.content p {
  display: block;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}
.content span {
  display: block;
  height: 2px;
  width: 200px;
  background: white;
  margin: 20px auto;
}
.content ul {
  margin: 0 0 20px;
  padding: 0;
}
.content ul li {
  list-style: none;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
.content .info {
  position: relative;
  z-index: 10;
}

.about {
  background: url("../img/slide5-2.jpg") no-repeat top left;
  background-size: cover;
  text-align: center;
}
.about h2 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 30px;
}
.about .info {
  text-align: center;
  padding: 30px 0;
}
.about .info .top {
  text-align: justify;
}
.about .info .top span {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-align: center;
  padding: 0 30px;
}
.about .info .top::after {
  content: "";
  display: inline-block;
  width: 60%;
  height: 1px;
}
.about .info .bottom {
  margin-top: 30px;
  border-top: 2px solid #fff;
  text-align: justify;
  padding-top: 30px;
}
.about .info .bottom span {
  color: white;
  font-size: 14px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  line-height: 24px;
}
.about .info .bottom span img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.about .info .bottom::after {
  content: "";
  display: inline-block;
  width: 60%;
  height: 1px;
}

.footer {
  background: #262e3a;
}
.footer .item {
  width: 33%;
  float: left;
  padding: 20px;
}
.footer .item ul {
  margin: 0;
  padding: 0;
}
.footer .item ul li {
  list-style: none;
  font-size: 14px;
  color: white;
  margin: 10px 0;
}
.footer .item ul li a {
  text-decoration: none;
  color: white;
}
.footer .item ul li a:hover {
  text-decoration: underline;
}
.footer .item ul li span {
  font-size: 16px;
  font-weight: bold;
}
.footer .item ul.social li {
  display: inline-block;
  margin: 0 5px 0 0;
}
.footer .item ul.social li a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
}
.footer .item ul.social li a.vk {
  background: url("../img/soc.png") no-repeat 0 0;
}
.footer .item ul.social li a.fb {
  background: url("../img/soc.png") no-repeat -40px 0;
}
.footer .item ul.social li a.tw {
  background: url("../img/soc.png") no-repeat -80px 0;
}
.footer .item.address a {
  color: white;
}
.footer .item.address .tel {
  color: white;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
}
.footer .item.address .tel span {
  display: block;
  font-size: 10px;
  margin-top: 5px;
}
.footer .item.address p {
  font-size: 14px;
  color: white;
  margin: 15px 0 0;
}
.footer .item.address p > a {
  font-size: 18px;
}
.footer .item.address p > a span {
  border-bottom: 1px dotted white;
  display: inline-block;
}
.footer .item.address p span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  padding-left: 30px;
  position: relative;
}
.footer .item.address p span::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
}
.footer .item.address p span.ph {
  font-size: 10px;
}
.footer .item.address p span.ph::before {
  background: url("../img/sprite.png") no-repeat -19px 0;
  width: 18px;
  height: 25px;
}
.footer .item.address p span.ph a {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
.footer .item.address p span.mail::before {
  background: url("../img/sprite.png") no-repeat -39px 0;
  width: 25px;
  height: 18px;
}
.footer .item.address p span.add {
  padding: 5px 0 4px 30px;
}
.footer .item.address p span.add::before {
  background: url("../img/sprite.png") no-repeat 0 0;
  width: 18px;
  height: 25px;
}
.footer .item.address p span.city {
  padding-left: 0;
}
