@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneuecyr-roman.eot');
	src: url('../fonts/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-roman.svg') format('svg'),
        url('../fonts/helveticaneuecyr-roman.woff') format('woff'),
        url('../fonts/helveticaneuecyr-roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneuecyr-bold.eot');
	src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-bold.svg') format('svg'),
        url('../fonts/helveticaneuecyr-bold.woff') format('woff'),
        url('../fonts/helveticaneuecyr-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: url('../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-light.svg') format('svg'),
        url('../fonts/helveticaneuecyr-light.woff') format('woff'),
        url('../fonts/helveticaneuecyr-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneuecyr-medium.eot');
	src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-medium.svg') format('svg'),
        url('../fonts/helveticaneuecyr-medium.woff') format('woff'),
        url('../fonts/helveticaneuecyr-medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneuecyr-thin.eot');
	src: url('../fonts/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-thin.svg') format('svg'),
        url('../fonts/helveticaneuecyr-thin.woff') format('woff'),
        url('../fonts/helveticaneuecyr-thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneuecyr-italic.eot');
	src: url('../fonts/helveticaneuecyr-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-italic.svg') format('svg'),
        url('../fonts/helveticaneuecyr-italic.woff') format('woff'),
        url('../fonts/helveticaneuecyr-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	color: #000;
}

.wrap{
	width: 1080px;
	margin: 0 auto;
}

.clear{clear: both;}

header{
	position: absolute;
	width: 100%;
	height: 120px;
	background: white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	text-align: justify;
	a{
		display: inline-block;
		text-decoration: none;
		&.mobile-nav {display: none;}
		&.tel{
			float: right;
			padding: 45px 0;
			color: #333333;
			font-size: 26px;
			text-transform: uppercase;
		}
		&.logo{padding: 40px 0;}
	}
}



.slide{
	position: relative;
	width: 100%;
	top: 122px !important;
	&.first{background:url('../img/slide1-1.jpg') no-repeat left top; background-size: cover; }
	&.second{background: url('../img/slide1-4.jpg') no-repeat left top; background-size: cover; }
	&.third{background: url('../img/slide1-5.jpg') no-repeat left top; background-size: cover; }
	.intro{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table-cell;
		text-align: center;
		background: url('../img/shadow-lines.png') repeat left top;
		vertical-align: middle;
	}
	.info{
		position: relative;
		text-align: center;
		z-index: 99;
		margin-top: -120px;
	}
	p{
		font-size: 36px;
		line-height: 1.4;
		color: white;
		span{
			font-size: 24px;
			display: block;
			font-weight: 200;
			margin-top: 20px;
		}
	}
}
.fp-controlArrow{
	border: 0 !important;
	border-style: none !important;
	width: 30px !important;
	height: 65px !important;
	top: 55% !important;
	margin-top: 0 !important ;
	&.fp-prev{
		left: 50px !important;
		margin-left: 0;
		background: url('../img/slider-arrows.png') left top;
		-webkit-transition: margin-left .5s;
		-moz-transition: margin-left .5s;
		transition: margin-left .5s;
		&:hover{
			margin-left: -5px;
			-webkit-ransition: margin-left .5s;
			-moz-ransition: margin-left .5s;
			transition: margin-left .5s;
		}
	}
	&.fp-next{
		right: 50px !important;
		margin-right: 0;
		background: url('../img/slider-arrows.png') right top;
		-webkit-transition: margin-right .5s;
		-moz-transition: margin-right .5s;
		transition: margin-right .5s;
		&:hover{
			margin-right: -5px;
			-webkit-transition: margin-right .5s;
			-moz-transition: margin-right .5s;
			transition: margin-right .5s;
		}
	}
}

#fp-nav{
	ul li{
		a{
			span{
				background: white !important;
				border-color: transparent !important;
			}
			&.active{
				span{
					border-color: white !important;
					background:transparent !important;
					box-shadow: 0 0 0 1px white;
				}
			}
		}
	}
}

.btn{
	display: inline-block;
	text-align: center;
	font-size: 16px;
	padding: 20px 30px;
	font-weight: bold;
	text-decoration: none;
	&.blue{
		color: #fff;
		background: #122f5b;
		border-color: #122f5b;
		&:hover{
			background: lighten(#122f5b, 10%);
		}
	}
	&.white{
		background: transparent;
		color: white;
		border: 2px solid white;
		&:hover{
			background: yellow;
			border-color: yellow;
			color: black;
		}
	}
}

.section[data-anchor='two'] .fp-tableCell{vertical-align: top !important;}
.content{
	padding: 120px 30px 0 30px;
	height: 200%;
	position: relative;
	width: 25%;
	float: left;
	text-align: center;
	-webkit-transition: padding-top 1s;
	-moz-transition: padding-top 1s;
	transition: padding-top 1s;
	&.one{
		background: url('../img/content1.jpg') no-repeat center center;
		background-size: auto 100%;
		-webkit-transition: background-size padding-top 1s;
		-moz-transition: background-size padding-top 1s;
		transition: background-size padding-top 1s;
		&:hover{
			background-size: auto 110%;
			-webkit-transition: background-size padding-top 1s;
			-moz-transition: background-size padding-top 1s;
			transition: background-size padding-top 1s;
		}
	}
	&.two{
		background: url('../img/content2.jpg') no-repeat center center;
		background-size: auto 100%;
		-webkit-transition: background-size padding-top1s;
		-moz-transition: background-size padding-top1s;
		transition: background-size padding-top1s;
		&:hover{
			background-size: auto 110%;
			-webkit-transition: background-size padding-top1s;
			-moz-transition: background-size padding-top1s;
			transition: background-size padding-top 1s;
		}
	}
	&.three{
		background: url('../img/content3.jpg') no-repeat center center;
		background-size: auto 100%;
		-webkit-transition: background-size padding-top 1s;
		-moz-transition: background-size padding-top 1s;
		transition: background-size padding-top 1s;
		&:hover{
			background-size: auto 110%;
			-webkit-transition: background-size padding-top 1s;
			-moz-transition: background-size padding-top 1s;
			transition: background-size padding-top 1s;
		}
	}
	&.four{
		background: url('../img/content4.jpg') no-repeat center center;
		background-size: auto 100%;
		-webkit-transition: background-size padding-top 1s;
		-moz-transition: background-size padding-top 1s;
		transition: background-size padding-top 1s;
		&:hover{
			background-size: auto 110%;
			-webkit-transition: background-size padding-top 1s;
			-moz-transition: background-size padding-top 1s;
			transition: background-size padding-top 1s;
		}
	}
	.invis{
		position: relative;
		opacity: 0;
		display: none;
	}
	.shadow{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	&:hover{
		padding-top: 30px;
		.invis{
			opacity: 1;
			display: block;
		}
		.shadow{
			background: rgba(18, 47, 91, 0.8);
		}
	}
	img {
		margin-bottom: 20px;
	}
	h3{
		display: inline-block;
		margin: 0;
		color: white;
		font-size: 30px;
		font-weight: normal;
		line-height: 40px;
		&.hovered{display: none;}
	}
	p{
		display: block;
		margin-bottom: 20px;
		color: white;
		font-size: 16px;
	}
	span{
		display:block;
		height:2px;
		width: 200px;
		background: white;
		margin: 20px auto;
	}
	ul{
		margin: 0 0 20px;
		padding: 0;
		li{
			list-style: none;
			color: white;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
	.info{
		position: relative;
		z-index: 10;
	}
}

.about{
	background: url('../img/slide5-2.jpg') no-repeat top left;
	background-size: cover;
	text-align: center;
	h2{
		text-align: center;
		color: white;
		font-size: 36px;
		font-weight: 300;
		margin: 0 0 30px;
	}
	.info{
		text-align: center;
		padding: 30px 0;
		.top{
			text-align: justify;
			span{
				display: inline-block;
				font-size: 20px;
				line-height: 30px;
				color: white;
				text-align: center;
				padding: 0 30px;
			}
			&::after{
				content: "";
				display: inline-block;
				width: 60%;
				height: 1px;
			}
		}
		.bottom{
			margin-top: 30px;
			border-top: 2px solid #fff;
			text-align: justify;
			padding-top: 30px;
			span{
				color: white;
				font-size: 14px;
				display: inline-block;
				padding: 0 20px;
				text-align: center;
				line-height: 24px;
				img{
					display: block;
					margin: 0 auto;
					margin-bottom: 15px;
				}
			}
			&::after{
				content: "";
				display: inline-block;
				width: 60%;
				height: 1px;
			}
		}
	}
}

.footer{
	background: #262e3a;
	.item{
		width: 33%;
		float: left;
		padding: 20px;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				font-size: 14px;
				color: white;
				margin: 10px 0;
				a{
					text-decoration: none;
					color: white;
					&:hover{text-decoration: underline;}
				}
				span{
					font-size: 16px;
					font-weight: bold;
				}
			}
			&.social{
				li{
					display: inline-block;
					margin: 0 5px 0 0;
					a{
						text-decoration: none;
						display: block;
						width: 40px;
						height:40px;
						&.vk{background: url('../img/soc.png') no-repeat 0 0;}
						&.fb{background: url('../img/soc.png') no-repeat -40px 0;}
						&.tw{background: url('../img/soc.png') no-repeat -80px 0;}
					}

				}
			}
		}
		&.address{
			a {color: white;}
			.tel{
				color: white;
				font-size: 26px;
				text-decoration: none;
				text-transform: uppercase;
				span{
					display: block;
					font-size: 10px;
					margin-top: 5px;
				}
			}
			p{
				font-size: 14px;
				color: white;
				margin: 15px 0 0;
				> a{
					font-size: 18px;
					span{
						border-bottom: 1px dotted white;
						display: inline-block;
					}
				}
				span{
					display: block;
					margin-bottom: 15px;
					font-size: 14px;
					padding-left: 30px;
					position: relative;
					&::before{
						content: "";
						left: 0;
						top: 0;
						position: absolute;
					}
					&.ph{
						&::before{
							background: url('../img/sprite.png') no-repeat -19px 0;
							width: 18px;
							height: 25px;
						}
						font-size: 10px;
						a{
							font-size: 18px;
							display: block;
							margin-bottom: 5px;
						}
					}
					&.mail::before{
						background: url('../img/sprite.png') no-repeat -39px 0;
						width: 25px;
						height: 18px;
					}
					&.add{
						padding: 5px 0 4px 30px;
						&::before{
							background: url('../img/sprite.png') no-repeat 0 0;
							width: 18px;
							height: 25px;
						}
					}
					&.city{padding-left: 0;}
				}
			}
		}
	}
}
